*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}


/* TOP SECTION STYLES */
.top-section {
    height: 30vh;
    width: 100%;
    background-color: #044EBE;
    color: #fff;
}

.top-section__text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.bottom-section {
    width: 80%;
    margin: 2rem auto 0;
}

.add-task {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;
}

.add-task__options select {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 3px 0 0 3px;
}

.add-task [placeholder] {
    text-align: center;
}

.task-container {
    margin: 2rem auto 1rem;
    width: 60%;
}

.task-container__heading {
    text-align: center;
    padding: 1.5rem;
    color: #044EBE;
    border-bottom: 1px solid #044EBE;
}

.btn {
    border: none;
    outline: none;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
}

.btn-blue {
    color: #fff;
    background-color: #044EBE;
}


.task {
    margin: 2rem auto;
    height: 5rem;
    font-size: 2.4rem;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-radius: 0 .7rem .7rem 0;
}

.task-heading {
    display: inline-block;
}

.task-details {
    display: inline-block;
    padding-left: 1rem;
}

.task-high {
    border: 2px solid #c50000;
    border-left: 4px solid #c50000;
}

.task-details__high {
    border-left: 2px solid #c50000;
}

.task-medium {
    border: 2px solid #27C500;
    border-left: 4px solid #27C500;
}

.task-details__medium {
    border-left: 2px solid #27C500;
}

.task-low {
    border: 2px solid #044EBE;
    border-left: 4px solid #044EBE;
}

.task-details__low {
    border-left: 2px solid #044EBE;
}


.btn-red {
    height: 100%;
    background: linear-gradient(to bottom, #d80303, #c50000);
    color: #fff;
}

.btn-green {
    height: 100%;
    background-color: #27C500;
    color: #fff;
}
