*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.load-container {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3000;
    background-color: aqua;
    width: 100%;
    transition: all .5s;
}

.load-container_fade {
    opacity: 0;
    pointer-events: none;
}

.load{
    position: fixed;
    top:50%;left:50%;
    transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
    z-index: 3000;
  }
  
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }


/* TOP SECTION STYLES */
.top-section {
    height: 30vh;
    width: 100%;
    background-color: #044EBE;
    color: #fff;
}

.top-section__text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.bottom-section {
    width: 80%;
    margin: 2rem auto 0;
}

.add-task {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;
}

.add-task__options{
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 3px 0 0 3px;
}

.add-task [placeholder] {
    text-align: center;
}

.task-container {
    margin: 2rem auto 1rem;
    width: 60%;
}

.task-container__heading {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 1.5rem;
    color: #044EBE;
    border-bottom: 1px solid #044EBE;
}

.btn {
    border: none;
    outline: none;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    flex: 0 0 25%;
}

.btn-low,
.btn-blue {
    color: #fff;
    background-color: #044EBE;
}


.task {
    margin: 2rem auto;
    height: 5rem;
    font-size: 2.4rem;
    display: flex;
    width: 60%;
    border-radius: 0 .7rem .7rem 0;
}



.task-details {
    margin-right: auto;
    padding-left: 1rem;
}

.task-high {
    border: 2px solid #c50000;
    border-left: 4px solid #c50000;
}

.task-details__high {
    border-left: 2px solid #c50000;
}

.task-medium {
    border: 2px solid #27C500;
    border-left: 4px solid #27C500;
}

.task-details__medium {
    border-left: 2px solid #27C500;
}

.task-low {
    border: 2px solid #044EBE;
    border-left: 4px solid #044EBE;
}

.task-details__low {
    border-left: 2px solid #044EBE;
}

.task-done {
    text-decoration: line-through;
}

.btn-high {
    height: 100%;
    background: linear-gradient(to bottom, #d80303, #c50000);
    color: #fff;
}

.btn-medium {
    height: 100%;
    background-color: #27C500;
    color: #fff;
}

.btn-clear {
    text-align: center;
    display: block;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #044EBE;
}
